body, html {
  padding: 0;
  margin: 0;
  color: bl;
}
.contenedor
{
  background-color: teal;
}
.menu{
  background-color: teal;
}

/* Sidenav de la misma altura que la ventana */
mat-sidenav-container {
  height:100vh;
   background-color:darkslategray;

  
}

/* centrar el logo */
.content {
  text-align: center;
  background-size: cover;
}