
body, html {
  padding: 0;
  margin: 0;
  
}
.contenedor
{
  background-color: teal;
}
.menu{
  background-color: teal;
}

/* Sidenav de la misma altura que la ventana */
mat-sidenav-container {
  height:100vh;
   background-color:darkslategray;
}

/* centrar el logo */
.portada{
  height: 100vh;
  width:100%;
  text-align: center;
  position: relative;
}
#fondo-portada{
  height: 100%;
  width:100%;
  position: absolute;
  top:0;
  left: 0;
  
}
