<mat-sidenav-container >
  <mat-sidenav #sidenav class="contenedor">
      <mat-nav-list>
        <h2 mdSubheader>Traveler</h2>
        <a mat-list-item target="_blank" href="#">Destino</a>
        <a mat-list-item target="_blank" href="#">Galeria</a>
        <a mat-list-item target="_blank" href="#">Recomendaciones</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar class="menu">
      <!-- <button type="button" mat-button (click)="sidenav.open()">Menu</button> -->
      <mat-icon color="accent" mat-icon (click)="sidenav.open()">dehaze</mat-icon>
      <!-- <h1> Traveler</h1> -->
  </mat-toolbar>
    <!-- el cuerpo de la pagina -->
  <div class="content">
      <img  src="../imagenes/fondo.jpg">
      
  </div>

</mat-sidenav-container>